.movie-detail-wrapper {
  display: flex;
  flex-flow: row;
  margin: 30px;
}

.movie-image-wrapper {
  flex: 0 0 30%;
}

.movie-image-wrapper .movie-image {
  width: 100%;
}

.movie-info-wrapper {
  flex: 0 0 70%;
  margin-left: 30px;
}

.movie-info-wrapper .header {
  color: black;
}

.movie-showtimes-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* Style the showtime buttons */

.showtime {
  background: #6cb5f3;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Style the selection component */
.date-selector {
  width: 200px
}
select {
  color: #cedce3;
  border: 2px solid #cedce3;
}

select:hover {
  color: #6cb5f3;
  border: 2px solid #6cb5f3;
}
select:focus {
  outline:0;
}

.back {
  margin: 30px;
}

.back:hover {
  cursor: pointer;
}

.disabled {
  background: gray;
  pointer-events: none;
}