.reservation-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
  flex: 1 0 100%;
  
  margin-bottom: 0px;
  background: white;
  border-radius: 5px;
  
  overflow: hidden;
}

.reservation-header {
  flex: 1;
  padding: 10px;
  text-align: center;
  height: 120px;
}

.reservation-header:hover {
  cursor: pointer;
  /*background: #f7f7f7;*/
}

.reservation-header .title {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
  color: white;
}

.reservation-header .date,
.reservation-header .time {
  font-size: 16px;
  color: #ffffff;
  font-style: bold;
}

.reservation-sub {
  flex: 0 0 100%;
  text-align: center;
  font-size: 14px;
  margin: 5px 0;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}

.reservation-button {
  border-radius: 15px;
  margin: 10px;
  border: 2px solid #cedce3;
  color: #cedce3;
  background: transparent;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  padding: 0px;
}

.reservation-button:hover {
  border: 2px solid #6cb5f3;
  color: #6cb5f3;
}

.delete-button:hover{
  border: 2px solid #ff4747;
  color: #ff4747;
}
.reservation-quantity {
  color: black;
  font-size: 20px;
}