.reservation-list-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  overflow-x: hidden;
  padding: 10px;
}

.reservation-item {
  flex: 1 0 auto;
  margin: 10px;
  border-radius: 5px;
}